---
layout: home
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <br>
  <div class="post-content">
      <div class="bio-col-wrapper">
        <div class="bio-col bio-col-1">
          <img src="/assets/TzuShengKuo_photo.png">
        </div>
        <div class="bio-col bio-col-2">
          <h1>Tzu-Sheng Kuo<br><small>郭子生</small></h1>
          <!-- [ <a href="/assets/TzuShengKuo_CV.pdf">CV</a> ] -->
        </div>
      </div>
      {{ content }}
  </div>

</article>
