a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: inherit;
}

a:focus, a:hover {
  text-decoration: none;
  outline: 0;
  color: #B1040E;
}